<h2>Listing Rooms</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uuid</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for room <- @rooms do %>
    <tr>
      <td><%= link room.name, to: room_path(@conn, :show, room) %></td>
      <td><%= room.uuid %></td>
      <td><%= Map.keys Platform.Presence.list("room:#{room.uuid}") %></td>
    </tr>
<% end %>
  </tbody>
</table>
