<h2>Listing Rooms</h2>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Uuid</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for room <- @rooms do %>
    <tr>
      <td><%= room.name %></td>
      <td><%= room.uuid %></td>
    </tr>
<% end %>
  </tbody>
</table>
