<h2><%= @room.name %></h2>

<div data-room-uuid="<%= @room.uuid %>"></div>


<div id="counter"></div>

<button id="start-counter">Start</button>

<ul>
  <li>
    <strong>Uuid:</strong>
    <%= @room.uuid %>
  </li>
</ul>

<span><%= link "Back", to: room_path(@conn, :index) %></span>
