.background-image-fullscreen {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.position-absolute-fullscreen {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.rounded-circle-200px {
  width: 200px;
  height: 200px;
}